include requirements/*
include README.md
include bedboss/*
include bedboss/bedstat/*
include bedboss/bedstat/tools/*
include bedboss/bedmaker/*
include bedboss/bedqc/*
include bedboss/qdrant_index/*
include bedboss/bedbuncher/*
include bedboss/bedbuncher/tools/*
include bedboss/bedclassifier/*
include bedboss/tokens/*
include bedboss/bbuploader/*