# Usage reference

BEDboss is command-line tool-manager and a set of tools for working with BED files and BEDbase. Main components of BEDboss are:
1) Pipeline for processing BED files: bedmaker, bedqc, and bedstats.
2) Indexing of the Bed files in bedbase
3) Managing bed and bedsets in the database

Here you can see the command-line usage instructions for the main bedboss command and for each subcommand:

