logmuse>=0.2.7
coloredlogs>=15.0.1
peppy>=0.40.5
yacman>=0.8.4
requests>=2.28.2
piper>=v0.14.0
bbconf>=0.6.1
# bbconf @ git+https://github.com/databio/bbconf.git@dev#egg=bbconf
refgenconf>=0.12.2
pandas>=2.0.0
ubiquerg>=0.6.2
pephubclient>=0.4.4
geniml>=0.4.0