## we can't run test, but lets just install all dependencies and package
name: Installation test

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main, dev]

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.13"]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      run: pip install uv

    - name: Install dev dependencies
      run: if [ -f requirements/requirements-dev.txt ]; then uv pip install -r requirements/requirements-dev.txt --system; fi

    - name: Install package
      run: uv pip install . --system

    - name: run bedboss help
      run: bedboss --help

#    - name: Run pytest tests
#      run: pytest tests -x -vv
